* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-top: 3rem;
}

.dateContainer {
    display: flex;
    justify-content: center;
}

.dateBox {
    font-size: 2.5rem;
    padding: 3rem;
    font-weight: bold;
}

span {
    font-weight: initial;
    font-size: 2rem;
}
