@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;800&display=swap');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Outfit', sans-serif;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	font-size: 18px;
}

h2 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.gp_input {
	background-color: #ddeafb;
	outline: none;
	font-size: 20px;
	padding: 12px;
	border-radius: 10px;
	font-family: inherit;
	border: none;
	margin-bottom: 32px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gp_main-container {
	position: relative;
}

.gp_content {
	max-width: 800px;
	padding: 40px;
	background-color: #ddeafb90;
	border-radius: 20px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
}

.gp_background {
	width: 105%;
	height: 100%;
	background-color: #ddeafb40;
	border-radius: 20px;
	position: absolute;
	top: -22px;
	left: -22px;
	z-index: -1;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	border: 1px solid #eeeeee;
}

.gp_avatar {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 6px solid #eeeeee;
}

.gp_info {
	padding: 10px 30px;
}

.gp_stats {
	padding: 0;
	display: flex;
	align-items: center;
}

.gp_stats li {
	list-style-type: none;
	margin-right: 60px;
}

.gp_links a {
	display: inline-block;
	font-size: 16px;
	background-color: #528ecc95;
	padding: 6px 8px;
	border-radius: 5px;
	margin-right: 6px;
	margin-bottom: 6px;
}
