* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    /*font-family: 'Edu VIC WA NT Beginner', cursive;*/
    font-family: 'Karla', sans-serif;
    background-color: #edede9;
}

.mainContainer {
    width: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
}

.title {
    width: 280px;
    text-align: center;
}

.search_container {
    position: relative;
}

.search_container::before {
    content: "";
    background-image: url("./assets/searchIcon.png");
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 8px;
}

.search {
    background: #e9ecef;
    padding: 10px 35px;
    width: 260px;
    border-radius: 20px;
    border: none;
    outline: none;
    min-height: 45px;
}

.search:focus {
    border: 1px solid #ced4da;
}

img {
    width: 11rem;
}

.likeIcon {
    width: 2rem;
}

.modalFoodRecipesContainer {
    display: none;
    width: 30rem;
    position: absolute;
    top: 10%;
    left: 30%;
    background: cornflowerblue;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
