* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /*min-height: 100vh;*/
}

.mainContainer {

}

img {
    width: 11rem;
}

.likeIcon {
    width: 2rem;
}

.modalFoodRecipesContainer {
    display: none;
    width: 30rem;
    position: absolute;
    top: 10%;
    left: 30%;
    background: cornflowerblue;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
