@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #7ee8fa;
	min-height: 100vh;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 24px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

h1 {
	margin: 0;
	text-align: center;
}

.main_container {
	width: 600px;
	margin: 0 auto;
	background-color: #80b5ea;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.4);
}

.weather_form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.weather_input {
	border-radius: 14px;
	font-family: inherit;
	border: none;
	outline: none;
	font-size: 20px;
	margin-bottom: 20px;
	padding: 10px 16px;
	box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.4);
}

.weather_content {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.weather_temp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.weather_temp strong {
	font-size: 38px;
}

.weather_temp img {
	width: 80px;
}

.weather_info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 16px;
}

.weather_info span {
	font-size: 22px;
	margin-bottom: 5px;
}
