@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background: transparent;
}

.main_container {
    background: #528ecc;
    height: 100vh;
    max-width: 1400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.sidebar_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_btn {
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #ffffff;
    background-color: #0f0c0c;
    border-radius: 50%;
}

.hr {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border: .5px solid rgba(0, 0, 0, 0.2);
}
