@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0 auto;
	background-color: #22254b;
	font-family: 'Catamaran', sans-serif;
}

img {
	width: 100%;
}

h3 {
	margin: 0;
}

.movie_header {
	background-color: #373b69;
	padding: 16px;
	display: flex;
	justify-content: flex-end;
}

.movie_input {
	font-size: 18px;
	background-color: transparent;
	font-family: inherit;
	padding: 10px 16px;
	border-radius: 30px;
	border: 2px solid #22254b;
	color: #ffffff;
}

.movie_input:focus {
	background-color: #22254b;
	outline: none;
}

.movie_input::placeholder {
	color: #528ecc;
}

.main_container {
	display: flex;
	flex-wrap: wrap;
}

.movie_block {
	margin: 16px;
	background-color: #373b69;
	border-radius: 3px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	width: 300px;
	overflow: hidden;
	position: relative;
}

.movie_info {
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 16px 16px;
	letter-spacing: 0.5px;
}

.movie_rating {
	width: 36px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	background-color: #22254b;
	border-radius: 3px;
}

.movie_overview {
	overflow: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	padding: 18px;
	max-height: 100%;
	transform: translateY(100%);
	transition: transform 1s;
}

.movie_overview p {
	font-size: 18px;
}

.show {
	transform: translateY(0%);
}

.red {
	color: #d62626;
}

.orange {
	color: orange;
}

.green {
	color: #1bb91b;
}
